.site-list {
	@media (min-width: $tablet-width) {
		width: 580px;
	}

	@media (min-width: $desktop-width) {
		width: 780px;
	}	
}

.site-list a {
	position: relative;
	display: block;
	padding: 18px 21px;
	font-size: 18px;
	font-weight: 700;
	line-height: 27px;
	text-transform: uppercase;
	color: #fff;
	background-color: #826550;
	border-top: 1px solid #886e5b;
	border-bottom: 1px solid #71543f;
}