.user-list {
	width: 60px;

	@media (min-width: $tablet-width) {
		width: 60px;
	}

	@media (min-width: $desktop-width) {
		width: 150px;
	}	
}

.user-list__login {
	position: relative;
	display: block;
	padding: 17px 21px;
	line-height: 18px;
	color: #fff;
}